.button {
  font-size: 14px;
  color: white;
  background: #47875e;
  border-radius: 10px;
  border: none;
  padding: 8px 16px;
  box-shadow: 2px 5px 5px #555657;
  cursor: pointer;

  :hover {
    background: rgba(71, 135, 94, 0.5);
  }
}

.buttonRed {
  background: rgb(215, 8, 8);
}

.button +.button {
  margin-left: 16px;
}
